<launch>
	<include file="$(find-pkg-share openni2_camera)/launch/camera_only.launch.py"/>
  <node pkg="rgbd_slam" 		exec="rgbd_slam_node" name="rgbd_slam_node" output="screen">
		<param name="rgb_topic" 	     				value="/camera/rgb/image_raw" />
		<param name="depth_topic" 	     			value="/camera/depth/image_raw" />
		<param name="calibration_file" 	 			value="$(find-pkg-share rgbd_calibration)/config/rgbd_calibration.txt" />

		<!--Feature detection-->
		<param name="num_horizontal_tiles"  							value="4" />
		<param name="num_vertical_tiles" 		 							value="3" />
		<param name="im_width" 						 								value="640" />
		<param name="im_height" 					 								value="480" />
		<param name="max_optical_flow_error"							value="8.0" />
		<param name="min_features_in_mask_to_detect_new" 	value="2" />
	</node>
</launch>